$color : #2A374C;
$color2 : #FFEE99;
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'microsoft jhenghei', sans-serif;
}

body {
    background:$color url(../images/bg.jpg) no-repeat top center fixed;
    background-size:100% auto;
    font-size: 15px;
    @media screen and (orientation: portrait){
        background-size:auto 100%;
    }
}
.wrapper {margin-top: 170px;}
table tbody,
table tfoot,
table thead {
    background: none
}
.button {font-size: 15px;}

// menu
.header{position: fixed;top:0;width:100%;left:0}
.top-bar-right .menu{background: none}
.top-bar-right .menu>.switch_link>a{color: #ff6868; font-weight: bold;}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
    border-color: rgb(121, 112, 74) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
}

.off-canvas {background: #000;padding-top: 50px;}
.off-canvas-content{min-height:calc( 100vh - 160px );}
.close-button:focus, .close-button:hover {color: #FFC23F}
.js-off-canvas-overlay {background: rgba(0, 0, 0, .7)}
.welcome_txt{text-align: center;color:#FFEE99;font-size: 24px}
.vertical>li>a{padding-left: 70px;}
.is-open~.off-canvas-content>.header{top: -70px;}


.menu {
    color:$color2;
    h1 {
        margin: 0;
        font-size: 18px;
        display: inline-block;
        margin-right: 10px;
        font-weight: bold
    }
    h2 {
        margin: 0;
        font-size: 16px;
        display: inline-block;
        font-weight: normal
    }
    >li>a {
        color: #fff;
        &:hover {opacity: .7}
    }
}

.mdi:before {
    line-height: 0;
    vertical-align: middle;
    margin-right: 5px
}
.close-button{outline: 0;}

.sample_wrap {
    padding-left: 10px;
    color: #999;
    font-size: 16px;
    text-align: center;
    >a {
        display: inline;
        padding: 0 5px;
        text-decoration: underline;
        color: #ccc;
        font-size: 16px
    }
}
@media screen and (max-width:768px) {
    .menu h1{margin-right: 0}
    .top-bar-right{margin-top: 5px;}
}
@media screen and (max-width:500px) {
    .top-bar-right {
        margin-top: 3px;
        .mdi>span {font-size: 0}
    }
    // .mdi-menu { font-size: 0 }
    .mdi:before { font-size: 20px; }
    .menu>li>a { padding: .7rem 0.5rem; }
    .menu>.bad_item { position: absolute; width: 100%; left: 15px; top: 59px; }
}

// event

.event_wrapper{
    text-align: justify;
    &:hover .fitem{opacity: .6;filter: grayscale(100%);}
    &:hover .fitem:hover{opacity: 1; filter: grayscale(0%);}
    &:hover .fitem:hover .fimgbox{box-shadow: 0 26px 40px -24px rgba(0,36,100,.5);}
}
.event_title{
    text-align: center;font-size:20px;
    color: #f00;
    padding-bottom: 10px;
    >small{color:#FF6868}
    &:before{vertical-align: baseline}
}
.swiper-slide{
    text-align: center;
    padding-bottom: 30px;

    .fname{font-size:18px;color:#fff;margin-top:15px;background: #121212;display: inline-block}
}

@media screen and (max-width:600px) {
    .eventvideo{margin-top: 50px;}
    .sample_wrap>a{margin: 5px 2px;display: inline-block;}
}
.footer{text-align: center;margin-top:50px}

@media screen and (max-width:500px) {
    .event_title>small{display: block;line-height: 200%;}
}

// search ipnut
.gsc-input-box{
        border: 1px solid $color2;
        box-shadow: 0 3px 10px rgba(0,0,0,.2) inset;
        background: #fff !important;
    }
.gsc-input, .gsc-input:focus{color:#000}
.gsc-results .gsc-cursor-box .gsc-cursor-page{color: #777 !important;}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2{background: $color !important;}

.gsc-control-cse {
    background: none !important;
    border: 0 !important
}

.gsc-webResult.gsc-result:hover,
.gsc-imageResult:hover {
    background: none;
    border: 0
}

input.gsc-search-button,
input.gsc-search-button:hover,
input.gsc-search-button:focus {
    box-sizing: content-box
}

.gsc-search-box-tools .gsc-search-box .gsc-input { font-size: 30px }
.gsc-input-box { height: auto !important; }
.gsc-input-box.badinput { box-shadow: 0 0 20px #fff, 0 0 20px #fff inset; }
.gsc-input-box>table { margin-bottom: 0; }

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus {
    border-radius: 5px
}

.gsc-input,
.gsc-input:focus {
    background: none !important;
    box-shadow: none;
    // color: #fff;
    padding: 5px 10px 10px !important;
}

 ::-webkit-input-placeholder,
 ::-moz-placeholder,
 :-ms-input-placeholder,
 :-moz-placeholder {
    color: #999
}

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
    width: 26px !important;
    height: 26px !important;
    border: 0 !important;
    margin-left: -110px !important;
}

.gsst_a { display: none !important }
.gsc-above-wrapper-area { border-bottom: 0 !important }
.gsc-above-wrapper-area-container { margin-bottom: 0; }
.gsc-result-info, .gsc-orderby-label { color: #fff }
.gsc-results .gsc-cursor-box .gsc-cursor-page {
    border-color: #f90;
    background-color: #fff;
    color: #00c;
}

.gsc-results .gsc-cursor-box { text-align: center; }

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    font-size: 20px;
    padding: 0 10px;
    background: none !important;
    color: #fff !important;
}
.gsc-control-cse-zh_CN .gs-snippet b, .gsc-control-cse-zh_CN .gs-promotion em, .gsc-control-cse-zh_TW .gs-snippet b, .gsc-control-cse-zh_TW .gs-promotion em{ color:#000 !important }
.gs-result b, .gs-title b{font-weight: normal  !important}
.gsc-control-cse .gs-spelling,
.gsc-control-cse .gs-result .gs-title,
.gsc-control-cse .gs-result .gs-title *{text-decoration: none}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl{color:#333 !important}
.gsc-result .gs-title{height:auto !important}
.gs-result:hover{opacity: .8}
.gsc-search-box-tools .gsc-search-box .gsc-input{text-indent: 0 !important}


@media screen and (min-width:500px) {
    .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    background: #fff !important;
    color: #000 !important
    }
    .gs-web-image-box-landscape img.gs-image,
    .gs-web-image-box-portrait img.gs-image{
        max-width: 100% !important;
        max-height: 100% !important;
    }

    .gs-image-box.gs-web-image-box.gs-web-image-box-portrait,
    .gs-image-box.gs-web-image-box.gs-web-image-box-landscape{
        width: 300px !important;
        height: auto !important;
    }
    .gsc-expansionArea{
       display: flex;justify-content:flex-start;flex-wrap: wrap;
    }
    .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult{
        width: 50%;
    }
    .gsc-cursor-box{width:100%;}
    .gsc-results>.gsc-webResult{width:100%}
}


/*.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult{border:0 !important;background: none !important}*/

@media screen and (max-width:500px) {
    // .cse .gsc-control-cse,
    // .gsc-control-cse {
    //     padding: 0 !important
    // }
    // .gsc-search-button {
    //     width: 0 !important;
    //     padding: 5px !important;
    // }
    // .cse .gsc-search-button input.gsc-search-button-v2,
    // input.gsc-search-button-v2 {
    //     margin-left: -50px !important;
    // }
    .menu-text h2 {
        display: none;
    }
    .top-bar-right .mdi>span {
        font-size: 0
    }
    .top-bar-right {
        margin-top: 3px;
    }
    .mdi-menu {
        font-size: 0
    }
    .mdi:before {
        font-size: 20px;
    }
    .menu>li>a {
        padding: .7rem 0.5rem;
    }
    .menu>.bad_item {
        position: absolute;
        width: 100%;
        left: 15px;
        top: 59px;
    }
    .free_title>small{display: block;line-height: 200%;}
    .cse .gsc-control-cse,
    .gsc-control-cse {
        padding: 0 !important
    }
    .gsc-search-button {
        width: 30px !important;
        padding: 5px !important;
    }
    button.gsc-search-button{height: 32px;}
    table.gsc-search-box td{vertical-align: top !important}
    .cse .gsc-search-button input.gsc-search-button-v2,
    input.gsc-search-button-v2 {
        margin-left: -50px !important;
    }
    .gsc-search-box-tools .gsc-search-box .gsc-input{padding: 0 !important}
    .menu>.switch_link>a{font-size:0;margin-top: 3px;}
    input.gsc-input{height:1em !important;text-indent: 0 !important;}
    td.gsc-search-button{padding: 0 !important}
}


